<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- 1. 마이바티스 설정과 관련된 기본 세팅 선언 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- 2. 별칭 작성 부분 -->
	<typeAliases>
		<typeAlias type="com.kh.kkiri.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.kkiri.notice.model.vo.Notice" alias="Notice"/>
		
		<typeAlias type="com.kh.kkiri.member.model.vo.Favorite" alias="Favorite"/>
		<typeAlias type="com.kh.kkiri.search.model.vo.Search" alias="Search"/>
		<typeAlias type="com.kh.kkiri.payment.model.vo.Payment" alias="Payment"/>
		<typeAlias type="com.kh.kkiri.event.model.vo.Event" alias="Event"/>
		<typeAlias type="com.kh.kkiri.report.model.vo.Report" alias="Report"/>
		<typeAlias type="com.kh.kkiri.report.model.vo.Report_A" alias="Report_A"/>
		<typeAlias type="com.kh.kkiri.ask.model.vo.Ask" alias="Ask"/>
		<typeAlias type="com.kh.kkiri.event.model.vo.Party" alias="Party"/>
		<typeAlias type="com.kh.kkiri.event.model.vo.Image" alias="Image"/>
		<typeAlias type="com.kh.kkiri.event.model.vo.Report" alias="Report_E"/>
		<typeAlias type="com.kh.kkiri.myPage.model.vo.Ticket" alias="Ticket"/>
		<typeAlias type="com.kh.kkiri.event.model.vo.Rating" alias="Rating"/>
		<typeAlias type="com.kh.kkiri.admin.model.vo.Video" alias="Video"/>
	</typeAliases>
	
	<!-- 3. mapper 파일 등록 부분 -->
	<!-- resources 폴더가 기준 -->
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/notice-mapper.xml"/>
		<mapper resource="/mappers/search-mapper.xml"/>
		<mapper resource="/mappers/home-mapper.xml"/>
		<mapper resource="/mappers/payment-mapper.xml"/>
		<mapper resource="/mappers/event-mapper.xml"/>
		<mapper resource="/mappers/report-mapper.xml"/>
		<mapper resource="/mappers/ask-mapper.xml"/>
		<mapper resource="/mappers/admin-mapper.xml"/>
	</mappers>
</configuration>
