html{font-size:15px;}

td{height: 38px;}

#eventStatus{
		border: none;
		font-weight: bold;
		/* vertical-align: middle; */
		text-align-last: center;
		border-radius:0; /* 아이폰 사파리 보더 없애기 */
		-webkit-appearance:none; /* 화살표 없애기 for chrome*/
		-moz-appearance:none; /* 화살표 없애기 for firefox*/
		}
		
#reportC{
		border: none;
		font-weight: bold;
		/* vertical-align: middle; */
		text-align-last: center;
		border-radius:0; /* 아이폰 사파리 보더 없애기 */
		-webkit-appearance:none; /* 화살표 없애기 for chrome*/
		-moz-appearance:none; /* 화살표 없애기 for firefox*/
		}
		
.videoDiv lable{
	float: left;
}

.usedVideo {
	color: red;
}

.adminVideo{
	width: 16rem;
	height: 12rem;
		
	/* background-clip: padding-box; */
}

.videoButton{
	clear: both;
	display: inline;
}
.file_input_textbox
{
float: left
}
 
.file_input_div
{
position: relative;
width: 100px;
height: 23px;
overflow: hidden;
}
 
.file_input_button
{
width: 100px;
position: absolute;
top: 0px;
background-color: #00a185;
color: #FFFFFF;
border-style: solid;
}
 
.file_input_hidden
{
font-size: 45px;
position: absolute;
right: 0px;
top: 0px;
opacity: 0;
 
filter: alpha(opacity=0);
-ms-filter: "alpha(opacity=0)";
-khtml-opacity: 0;
-moz-opacity: 0;
}

#loading{
	width: 151px;
	height: 151px;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display:none;
}

