#container{
    margin : 100px auto;
}
.nav-wrap{
        display: inline-block;
        height: 303px;
        border: 1px solid #dee2e6;
        border-radius: 5px;
}
.nav-wrap>a{
    display: block;
    line-height: 46px;
    text-align: left;
    font-size: 18px;
    transition: all .3s;
}
.nav-wrap>a.active,
.nav-wrap>a:hover{
    color: #00a185;
    font-weight: 500;
}
.my-profile-section{
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding :30px 30px 100px 30px;
    margin: 100px 0;
    position: relative;
}

.my-profile-section>h4{
    font-size: 2rem;
    border-bottom: 1px solid lightslategray;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
html .nav-tabs .nav-item.show .nav-link, 
html .nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover{
    color : #00a185;
}
.my-profile-btn,
.my-profile-btn:hover{
    background: #227fbb !important;
    color: #ffffff !important;
    position: absolute;
    right: 50px;
    bottom: 30px;
    font-size: 17px !important;
}
.my-profile-btn2,
.my-profile-btn2:hover{
	background: #227fbb !important;
    color: #ffffff !important;
    left : 20%;
    font-size: 17px !important;
}
#container .secession-btn{
    position: relative;
    right: 0;
    bottom: 0;
    width: 30%;
    display: table;
    margin: 0 auto;
    padding: 10px 0;
}
.my-profile-tableTitle{
    display: table;
    width: 100%;
}
.passborder{
    width: 65%;
    padding: 5px 10px;
}
.my-profile-tableTitle>div{
    display: table-cell;
    width: 30%;
}
.profile-name{
    text-align: center;
    margin-bottom: 20px;
}
.profile-img{
    border-radius: 50%;
    max-width: 250px;
}
.my-profile-section-element{
    margin: 10px 0;
}
.member-interest,
.member-interest-location{
    background-color: #00a185;
    display: inline-block;
    padding: 5px 10px;
    border-radius: .25rem;
    vertical-align: middle;
    color: #ffffff;
}
.introduce-box{
    border: none;
    padding:10px;
    border-radius: .25rem;
}
#profile-nav-wrap.sticky{
    border-radius: 0 0 10px 10px;
    box-shadow: 0 1.8px 1.2px rgba(0, 0, 0, 0.034), 0 1.7px 0.3px rgba(0, 0, 0, 0.048), 0 5.5px 3px rgba(0, 0, 0, 0.06), 0 13.3px 6.9px rgba(0, 0, 0, 0), 0 10.8px 2.4px rgba(0, 0, 0, 0.01), 0 9px 10px rgba(0, 0, 0, 0.12);
    padding: 15px 0;
    background-color: #ffffff;
    z-index: 1020;
    position: sticky;
    top: 0;
}
#profile-nav-wrap.sticky>li>a.active,
#profile-nav-wrap.sticky>li>a:hover{
    color:#00a185;
}

@media (max-width:1199px){
    .profile-img{
        max-width: 200px;     
    }
    .my-profile-section-element > h5{
        font-size:16px;
    }
}
@media (max-width:991px){
    .profile-img{
        max-width: 150px;     
    }
    .passborder{
        width: 75%;
    }
    .participate_event_con .creator-con{width: 14%;}
	#wrapper .nav-wrap,
	#wrapper .nav-wrap+div{    
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding:0;}
    #wrapper .nav-wrap{    margin-bottom: 30px; height:auto;}
    #wrapper .nav-wrap a{          
    line-height: 25px;
    font-size: 17px;}
}
@media (max-width:560px){
	.profile-img{max-width:110px;}
}