<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean"
    rel="stylesheet">
  <link rel="stylesheet" href="../index 페이지 - 진웅/css/common.css">
  <link rel="stylesheet" href="../index 페이지 - 진웅/css/update_profile.css">
  <link rel="stylesheet" href="../index 페이지 - 진웅/css/header.css">
  <link rel="stylesheet" href="../index 페이지 - 진웅/css/footer.css">
  <script src='../index 페이지 - 진웅/js/index.js'></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <title>KKIRI(끼리)</title>
</head>

<body>
  
    <div id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="logo"><a href="#"><img src="../index 페이지 - 진웅/img/logo.png" alt="로고"></a></h1>
            <div class="nav-section">
              <a href="#">로그인</a>
              <a href="#">회원가입</a>
              <span class="separation"> | </span>
              <a href="#">고객센터</a>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container" style=" margin-top: 50px; margin-bottom: 200px;">
      <!-- content 시작 -->
      <div class="row">
        <div class="col-2 " style="margin: 20px 0px; text-align: right;" >
          <div class="btn">프로필</div><br>
          <div class="btn">이벤트</div><br>
          <div class="btn">티켓</div><br>
          <div class="btn">로그아웃</div><br>
        </div>
        <div id="display-profile" class="col-9 wty3" style="display: block; padding: 0;">
          <h4>&nbsp 내 정보</h4>
          <div class="row">
            <div class="col-8 ">
              <div class="row wty5" style="padding: 0px;">
                <h5 class="col-4 ">이름 : </h5>
                <div class="col-8">원태연</div>
              </div>
              <div class="row wty5" style="padding: 0px;">
                <h5 class="col-4 ">닉네임 : </h5>
                <div class="col-8">wonty3000</div>
              </div>
              <div class="row wty5">
                <h5 class="col-4 ">성별 : </h5>
                <div id="gender" class="col-8" style="margin-top: 10px;" required>
                    <input type="radio" name="gender"> <label for="gender"> 남</label>
                    <input type="radio" name="gender"> <label for="gender"> 여</label>
                </div>
              </div>
              <div class="row wty5">
                <h5 class="col-4 ">생년월일 : </h5>
                <div class="col-8">
                    <input type="text" name="birthday" id="birthday">
                </div>
              </div>
              <div class="row wty5">
                <h5 class="col-4 ">전화번호 : </h5>
                <div class="col-8">
                    <div id="phone" class="row" style="margin: 10px;" >

                        <input id="phone1" class="col-3 passborder" type="text" name="phone1">&nbsp; -&nbsp;
                        <input id="phone2" class="col-3 passborder" type="text" name="phone2"> &nbsp;-&nbsp;
                        <input id="phone3" class="col-3 passborder" type="text" name="phone3"> 
                    </div>
                </div>
              </div>
              <div class="row  wty5">
                <h5 class="col-4">이메일 : </h5>
                <div class="col-8">
                    <input class="col-8" type="text" placeholder="내용을 입력해주세요">
                </div>
              </div>
              <div class="row wty5">
                <h5 class="col-4 ">관심 지역 : </h5>
                <div class="col-8 " >
                    <img src="../index 페이지 - 진웅/img/map-2.PNG" alt="지도" style="width: 100%; height: 100%;">
                </div>
              </div>
              <div class="row wty5">
                <h5 class="col-4 ">관심 카테고리 : </h5>
                <div class="col-8 " style="padding: 0%;" id="category">
                <input class="btn wty2-1 wty4" name="category" style="display: none;" id="travle">  <label class="btn wty2-1 wty4 category" for="travle">여행  </label>
                <input class="btn wty2-1 wty4" name="category" style="display: none;" id="health">  <label class="btn wty2-1 wty4 category" for="health">운동  </label>
                <input class="btn wty2-1 wty4" name="category" style="display: none;" id="readbook">  <label class="btn wty2-1 wty4 category" for="readbook">독서  </label>
                <input class="btn wty2-1 wty4" name="category" style="display: none;" id="busisness">  <label class="btn wty2-1 wty4 category"  for="busisness">비즈니스 </label>
                <input class="btn wty2-1 wty4" name="category" style="display: none;" id="language">  <label class="btn wty2-1 wty4 category" for="language">언어 </label>
                <input class="btn wty2-1 wty4" name="category" style="display: none;" id="music">  <label class="btn wty2-1 wty4 category" for="music">음악</label>
                <input class="btn wty2-1 wty4" name="category" style="display: none;" id="movie">  <label class="btn wty2-1 wty4 category" for="movie">영화/공연</label>
                <input class="btn wty2-1 wty4" name="category" style="display: none;" id="dance">  <label class="btn wty2-1 wty4 category" for="dance">댄스  </label>
                <input class="btn wty2-1 wty4" name="category" style="display: none;" id="valunteer">  <label class="btn wty2-1 wty4 category" for="valunteer">봉사활동 </label>
                <input class="btn wty2-1 wty4" name="category" style="display: none;" id="friendship">  <label class="btn wty2-1 wty4 category" for="friendship">사교  </label>
                <input class="btn wty2-1 wty4" name="category" style="display: none;" id="car">  <label class="btn wty2-1 wty4 category" for="car">차/오토바이 </label>
                <input class="btn wty2-1 wty4" name="category" style="display: none;" id="photo">  <label class="btn wty2-1 wty4 category" for="photo">사진/영상 </label>
                <input class="btn wty2-1 wty4" name="category" style="display: none;" id="sport">  <label class="btn wty2-1 wty4 category" for="sport">스포츠관람  </label>
                <input class="btn wty2-1 wty4" name="category" style="display: none;" id="game">  <label class="btn wty2-1 wty4 category" for="game">게임  </label>
                <input class="btn wty2-1 wty4" name="category" style="display: none;" id="cooking">  <label class="btn wty2-1 wty4 category" for="cooking">요리 </label>
                <input class="btn wty2-1 wty4" name="category" style="display: none;" id="animal">  <label class="btn wty2-1 wty4 category" for="animal">반려동물 </label>
                <input class="btn wty2-1 wty4" name="category" style="display: none;" id="socialwork">  <label class="btn wty2-1 wty4 category" for="socialwork">사회운동  </label>
                <input class="btn wty2-1 wty4" name="category" style="display: none;" id="beauty">  <label class="btn wty2-1 wty4 category" for="beauty">뷰티  </label>
                <input class="btn wty2-1 wty4" name="category" style="display: none;" id="passion">  <label class="btn wty2-1 wty4 category" for="passion">패션  </label>
                <input class="btn wty2-1 wty4" name="category" style="display: none;" id="others">  <label class="btn wty2-1 wty4 category" for="others">기타  </label>
                </div>
              </div>
              
<script>
  $(function(){
    $("#category").children('label').click(function(){
      var classflag = $("this")
      
        console.log('123')
      if($(this).hasClass('wty2-1')){
        console.log('456')
        
        $(this).removeClass("wty2-1");
        $(this).addClass('wty6');
      }
      else if($(this).hasClass('wty6')){

        
        $(this).removeClass("wty6");
        $(this).addClass('wty2-1');
      }

    })
  })
</script>

              <div class="row wty5">
                <h5 class="col-4 " style="margin-top: 10px;">소개 :  </h5>
                <div class="col-8">
                    <textarea class="wty3" name="" id="" cols="30" rows="10" placeholder="내용을 입력해주세요" style="margin-top: 10px; width: 100%;"></textarea>
                </div>
              </div>
            </div>
            <div class="col-4 wty5">
              <h5>프로필 사진</h5>
              <img src="../index 페이지 - 진웅/img/cat-1.jpg" alt="프로필 사진" style="width: 100%; height: 30%;">
            </div>
            <br>
          </div>
            <div class="row" >
              <div class="col-3"></div>
              <div class="btn wty2 col-2" style="text-align: center; margin: 10px auto;">
                수정하기
              </div>
              <div class="btn wty2 col-2" style="text-align: center; margin: 10px auto;">
                취소
              </div>
              <div class="col-3"></div>
            </div>
            
          </div>
        </div>


      
    </div>
    
    <script>

      var regExp1 = /^[/d]{3}$/;
      var regExp2 = /^[/d]{4}$/;
      


      var signUpCheck = { 
            "nickName":false,
            "phone":false,
            "name":false,
            "email":false
            };
            
      $(function(){
        $("#my-profile").click(function(){
          $(".wty3").css("display","none");
          $("#display-profile").css("display","block");
        });
        $("#change-password").click(function(){
          $(".wty3").css("display","none");
          $("#display-password").css("display","block");
        });
        $("#account").click(function(){
          $(".wty3").css("display","none");
          $("#display-account").css("display","block");
        });
        $("#delete-member").click(function(){
          $(".wty3").css("display","none");
          $("#display-delete").css("display","block");
        });

        $("#phone").change(function(){
          if(regExp1.test($("#phone1").val())){
            if(regExp2.test($("#phone2").val())){
              if(regExp2.test($("#phone3").val())){
                signUpCheck.phone = true;
              }
            }
          }
        })

        


      })

      
      var markers = [];

var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };  

// 지도를 생성합니다    
var map = new kakao.maps.Map(mapContainer, mapOption); 

// 장소 검색 객체를 생성합니다
var ps = new kakao.maps.services.Places();  

// 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
var infowindow = new kakao.maps.InfoWindow({zIndex:1});

// 키워드로 장소를 검색합니다
searchPlaces();

// 키워드 검색을 요청하는 함수입니다
function searchPlaces() {

    var keyword = document.getElementById('keyword').value;

    if (!keyword.replace(/^\s+|\s+$/g, '')) {
        alert('키워드를 입력해주세요!');
        return false;
    }

    // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
    ps.keywordSearch( keyword, placesSearchCB); 
}

// 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
function placesSearchCB(data, status, pagination) {
    if (status === kakao.maps.services.Status.OK) {

        // 정상적으로 검색이 완료됐으면
        // 검색 목록과 마커를 표출합니다
        displayPlaces(data);

        // 페이지 번호를 표출합니다
        displayPagination(pagination);

    } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

        alert('검색 결과가 존재하지 않습니다.');
        return;

    } else if (status === kakao.maps.services.Status.ERROR) {

        alert('검색 결과 중 오류가 발생했습니다.');
        return;

    }
}

// 검색 결과 목록과 마커를 표출하는 함수입니다
function displayPlaces(places) {

    var listEl = document.getElementById('placesList'), 
    menuEl = document.getElementById('menu_wrap'),
    fragment = document.createDocumentFragment(), 
    bounds = new kakao.maps.LatLngBounds(), 
    listStr = '';
    
    // 검색 결과 목록에 추가된 항목들을 제거합니다
    removeAllChildNods(listEl);

    // 지도에 표시되고 있는 마커를 제거합니다
    removeMarker();
    
    for ( var i=0; i<places.length; i++ ) {

        // 마커를 생성하고 지도에 표시합니다
        var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
            marker = addMarker(placePosition, i), 
            itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
        // LatLngBounds 객체에 좌표를 추가합니다
        bounds.extend(placePosition);

        // 마커와 검색결과 항목에 mouseover 했을때
        // 해당 장소에 인포윈도우에 장소명을 표시합니다
        // mouseout 했을 때는 인포윈도우를 닫습니다
        (function(marker, title) {
            kakao.maps.event.addListener(marker, 'mouseover', function() {
                displayInfowindow(marker, title);
            });

            kakao.maps.event.addListener(marker, 'mouseout', function() {
                infowindow.close();
            });

            itemEl.onmouseover =  function () {
                displayInfowindow(marker, title);
            };

            itemEl.onmouseout =  function () {
                infowindow.close();
            };
        })(marker, places[i].place_name);

        fragment.appendChild(itemEl);
    }

    // 검색결과 항목들을 검색결과 목록 Elemnet에 추가합니다
    listEl.appendChild(fragment);
    menuEl.scrollTop = 0;

    // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
    map.setBounds(bounds);
}

// 검색결과 항목을 Element로 반환하는 함수입니다
function getListItem(index, places) {

    var el = document.createElement('li'),
    itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +
                '<div class="info">' +
                '   <h5>' + places.place_name + '</h5>';

    if (places.road_address_name) {
        itemStr += '    <span>' + places.road_address_name + '</span>' +
                    '   <span class="jibun gray">' +  places.address_name  + '</span>';
    } else {
        itemStr += '    <span>' +  places.address_name  + '</span>'; 
    }
                 
      itemStr += '  <span class="tel">' + places.phone  + '</span>' +
                '</div>';           

    el.innerHTML = itemStr;
    el.className = 'item';

    return el;
}

// 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
function addMarker(position, idx, title) {
    var imageSrc = 'http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
        imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
        imgOptions =  {
            spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
            spriteOrigin : new kakao.maps.Point(0, (idx*46)+10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
            offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
        },
        markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
            marker = new kakao.maps.Marker({
            position: position, // 마커의 위치
            image: markerImage 
        });

    marker.setMap(map); // 지도 위에 마커를 표출합니다
    markers.push(marker);  // 배열에 생성된 마커를 추가합니다

    return marker;
}

// 지도 위에 표시되고 있는 마커를 모두 제거합니다
function removeMarker() {
    for ( var i = 0; i < markers.length; i++ ) {
        markers[i].setMap(null);
    }   
    markers = [];
}

// 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
function displayPagination(pagination) {
    var paginationEl = document.getElementById('pagination'),
        fragment = document.createDocumentFragment(),
        i; 

    // 기존에 추가된 페이지번호를 삭제합니다
    while (paginationEl.hasChildNodes()) {
        paginationEl.removeChild (paginationEl.lastChild);
    }

    for (i=1; i<=pagination.last; i++) {
        var el = document.createElement('a');
        el.href = "#";
        el.innerHTML = i;

        if (i===pagination.current) {
            el.className = 'on';
        } else {
            el.onclick = (function(i) {
                return function() {
                    pagination.gotoPage(i);
                }
            })(i);
        }

        fragment.appendChild(el);
    }
    paginationEl.appendChild(fragment);
}

// 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
// 인포윈도우에 장소명을 표시합니다
function displayInfowindow(marker, title) {
    var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

    infowindow.setContent(content);
    infowindow.open(map, marker);
}

 // 검색결과 목록의 자식 Element를 제거하는 함수입니다
function removeAllChildNods(el) {   
    while (el.hasChildNodes()) {
        el.removeChild (el.lastChild);
    }
}
      

    </script>
  


  <!-- content 끝 -->
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4 footer-logo-wrap">
              <img class="footer-logo" src="../index 페이지 - 진웅/img/logo2-white.png" alt="푸터로고">
            </div>
            <div class="col-md-8">
              <p class="copyright">&copy; 2020 KKIRI COMPANY. ALL RIGHTS RESERVED.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="button-top">
    <button type="button" class="top-btn">TOP</button>
  </div>

  <script>
  
  
    function scrollFunction() {
      if ($(window).scrollTop() >= 200) {
        $('#button-top').show(0);
      } else {
        $('#button-top').hide(0);
      }
    }
    $(function () {
      scrollFunction();
      $(window).scroll(function () {
        scrollFunction();
      });
      $('#button-top').on({
        click: function () {
          $('html,body').stop().animate({ scrollTop: 0 }, 600);
        }
      });
    });
  </script>
</body>

</html>