<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	<resultMap type="Video" id="VideoResultSet">
		<id property="videoNo" column="VIDEO_NO"/>
		<result property="videoOriginalName" column="VIDEO_ORIGINAL_NM"/>
		<result property="videoChangeName" column="VIDEO_CHANGE_NM"/>
		<result property="videoEnrollDate" column="VIDEO_ENROLL_DATE"/>
		<result property="videoStatus" column="VIDEO_STATUS"/>
		<result property="videoUse" column="VIDEO_USE"/>
	</resultMap>
	
	<resultMap type="EventStatistic" id="EventStatisticResultSet">
		<result property="eventDate" column="EVENTDATE"/>
		<result property="eventCount" column="EVENTCOUNT"/>
	</resultMap>
	
	<insert id="insertVideo" parameterType="Video">
		INSERT INTO VIDEO VALUES
		(VID_SEQ.NEXTVAL, #{videoOriginalName}, #{videoChangeName}, 
		 DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<select id="adminSelectVideo" resultMap="VideoResultSet">
		SELECT * FROM VIDEO
		WHERE VIDEO_STATUS = 'Y'
	</select>
	
	<update id="changeMain" parameterType="string">
		UPDATE VIDEO SET
		VIDEO_USE = 'Y'
		WHERE VIDEO_CHANGE_NM = #{changeVideo}
	</update>
	
	<update id="changeNormal" parameterType="string">
		UPDATE VIDEO SET
		VIDEO_USE = 'N'
		WHERE VIDEO_CHANGE_NM != #{changeVideo}
	</update>
	
	<select id="selectMainVideo" resultType="string">
		SELECT VIDEO_CHANGE_NM FROM VIDEO
		WHERE VIDEO_USE = 'Y'
	</select>
	
	<update id="adminDeleteVideo" parameterType="string">
		UPDATE VIDEO SET
		VIDEO_STATUS = 'N'
		WHERE VIDEO_CHANGE_NM = #{changeVideo}
	</update>
	
	<insert id="plusVisitCount">
		INSERT INTO VISITOR VALUES(DEFAULT)
	</insert>
	
	<select id="eventStatistic" resultMap="EventStatisticResultSet">
		<![CDATA[
		SELECT TO_CHAR(EVENT_START, 'yyyymmdd') EVENTDATE
	        , NVL(COUNT(*), 0) EVENTCOUNT
	        FROM EVENT
	        WHERE EVENT_START >= TO_DATE('20200305', 'yyyymmdd')
	        AND EVENT_START < TO_DATE('20200405', 'yyyymmdd')+1
	        AND EVENT_STATUS = 'Y'
	        GROUP BY TO_CHAR(EVENT_START, 'yyyymmdd')
		ORDER BY TO_CHAR(EVENT_START, 'yyyymmdd')
		]]>
	</select>
	
	
	
</mapper>
