<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eventMapper">
	
	
	<resultMap type="Event" id="eventResultSet">
		<id property="eventNo" column="EVENT_NO"/>
		<result property="eventTitle" column="EVENT_TITLE"/>
		<result property="eventContent" column="EVENT_CONTENT"/>
		<result property="eventCategory" column="EVENT_CATEGORY"/>
		<result property="eventLocation" column="EVENT_LOCATION"/>
		<result property="latitude" column="LATITUDE"/>
		<result property="longtitude" column="LONGITUDE"/>
		<result property="eventStart" column="EVENT_START"/>
		<result property="eventEnd" column="EVENT_END"/>
		<result property="eventTicket" column="EVENT_TICKET"/>
		<result property="eventThumbnail" column="EVENT_THUMBNAIL"/>
		<result property="eventQuota" column="EVENT_QUOTA"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="memberProfile" column="MEMBER_PROFILE"/>
		<result property="memberRating" column="SCORE"/>
		<result property="memberSignupDate" column="MEMBER_SIGNUP_DATE"/>
		<result property="partyCount" column="PARTY_COUNT"/>
		<result property="eventAddress" column="EVENT_ADDRESS"/>
		<result property="eventConfirm" column="EVENT_CONFIRM"/>
		<result property="permission" column="PERMISSION"/>
	</resultMap>
	
	<resultMap type="Chat" id="chatResultSet">
		<id property="chatNo" column="CHAT_NO"/>
		<result property="chatContent" column="CHAT_CONTENT"/>
	</resultMap>
	
	
	<resultMap type="Member" id="memberResultSet">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberGender" column="MEMBER_GENDER"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberBirth" column="MEMBER_BIRTH"/>
		<result property="memberIntroduce" column="MEMBER_INTRODUCE"/>
		<result property="memberPlace" column="MEMBER_PLACE"/>
		<result property="memberCategory" column="MEMBER_CATEGORY"/>
		<result property="memberProfile" column="MEMBER_PROFILE"/>
		<result property="memberSignupDate" column="MEMBER_SIGNUP_DATE"/>
		<result property="memberGrade" column="MEMBER_GRADE"/>
		<result property="memberTicket" column="MEMBER_TICKET"/>
		<result property="memberAccount" column="MEMBER_ACCOUNT"/>
		<result property="memberIdSort" column="MEMBER_ID_SORT"/>
		<result property="memberStatus" column="MEMBER_STATUS"/>
		<result property="memberRating" column="MEMBER_RATING"/>
	</resultMap>
	
	<resultMap type="Image" id="imageResultSet">
		<id property="imgNo" column="IMG_NO"/>
		<result property="eventNo" column="EVENT_NO"/>
		<result property="imgOriginalName" column="IMG_ORIGINAL_NAME"/>
		<result property="imgChangeName" column="IMG_CHANGE_NAME"/>
		<result property="imgEnrollDate" column="IMG_ENROLL_DT"/>
		<result property="imgStatus" column="IMG_STATUS"/>
		<result property="imgType" column="IMG_TYPE"/>
	</resultMap>
	
	<resultMap type="Party" id="partyResultSet">
	<id property="eventNo" column="EVENT_NO"/>
	<result property="memberNo" column="MEMBER_NO"/>
	<result property="memberType" column="MEMBER_TYPE"/>
	<result property="permission" column="PERMISSION"/>
	</resultMap>
	
	
	<resultMap type="Rating" id="ratingResultSet">
	<id property="ratingNo" column="RATING_NO"/>
	<result property="eventNo" column="EVENT_NO"/>
	<result property="memberNo" column="MEMBER_NO"/>
	<result property="ratingContent" column="RATING_CONTENT"/>
	<result property="ratingModifyDate" column="RATING_MODIFY_DT"/>
	<result property="ratingScore" column="RATING_SCORE"/>
	<result property="ratingStatus" column="RATING_STATUS"/>
	</resultMap>
	
	<resultMap type="BoardAndImage" id="boardAndImageResultSet">
	<id property="imgNo" column="IMG_NO"/>
	<result property="eventNo" column="EVENT_NO"/>
	<result property="imgOriginalName" column="IMG_ORIGINAL_NAME"/>
	<result property="imgChangeName" column="IMG_CHANGE_NAME"/>
	<result property="imgEnrollDt" column="IMG_ENROLL_DT"/>
	<result property="boardNo" column="BOARD_NO"/>
	<result property="boardTitle" column="BOARD_TITLE"/>
	<result property="boardContent" column="BOARD_CONTENT"/>
	<result property="boardModifyDt" column="BOARD_MODIFY_DT"/>
	<result property="memberNo" column="MEMBER_NO"/>
	<result property="memberNickname" column="MEMBER_NICKNAME"/>
	<result property="memberProfile" column="MEMBER_PROFILE"/>
	</resultMap>
	
	<resultMap type="EventMember" id="eventMemberResultSet">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="memberProfile" column="MEMBER_PROFILE"/>
		<result property="memberSignupDate" column="MEMBER_SIGNUP_DATE"/>
		<result property="permission" column="PERMISSION"/>
	</resultMap>
	
	

	<select id="selectEvent" parameterType="_int" resultMap="eventResultSet">
		SELECT * FROM V_EVENT
		WHERE EVENT_NO = #{eventNo}
	</select>
	
	
	<select id="selectPartyList" parameterType="_int" resultMap="memberResultSet">
		SELECT MEMBER_NO, MEMBER_NICKNAME, MEMBER_PROFILE, MEMBER_SIGNUP_DATE
		FROM PARTY
		JOIN MEMBER USING (MEMBER_NO)
		WHERE EVENT_NO = #{eventNo}
		AND PERMISSION = 'Y'
		AND MEMBER_STATUS = 'Y'
		AND MEMBER_TYPE = 'P'
	</select>

	<select id="adminEventCount" parameterType="map" resultType="_int">
		SELECT COUNT(*) FROM V_EVENT_A
		<where>
			<if test="searchValue != null">
				<bind name="sv" value="'%' + _parameter.searchValue + '%'" />
				<choose>
					<when test="searchKey == 'sponsor'">
						AND EVENT_CATEGORY LIKE #{sv}
					</when>
					<otherwise>
						AND EVENT_TITLE LIKE #{sv}
					</otherwise>
				</choose>
			</if>
			<if test="eventStatus != null">
				<if test ="eventStatus != 'no'">
					AND EVENT_THUMBNAIL = #{eventStatus}
				</if>
			</if>
		</where>
		
	</select>
	
	<select id="adminSelectEvent" parameterType="map" resultMap="eventResultSet">
		SELECT * FROM V_EVENT_A
		<where>
			<if test="searchValue != null">
				<bind name="sv" value="'%' + _parameter.searchValue + '%'" />
				<choose>
					<when test="searchKey == 'sponsor'">
						AND EVENT_CATEGORY LIKE #{sv}
					</when>
					<otherwise>
						AND EVENT_TITLE LIKE #{sv}
					</otherwise>
				</choose>
			</if>
			<if test="eventStatus != null">
				<if test ="eventStatus != 'no'">
					AND EVENT_THUMBNAIL = #{eventStatus}
				</if>
			</if>
		</where>
	</select>
	
	
	<!-- 참석한 이벤트 목록 조회 -->
	<select id="selectMyEventList" parameterType="_int" resultMap="partyResultSet">
	SELECT * FROM PARTY
	WHERE MEMBER_NO = #{memberNo}
	</select>
	
	
	<!-- 이벤트 참여 -->
	<insert id="joinEvent" parameterType="Event">
		INSERT INTO PARTY
		VALUES(#{eventNo}, #{memberNo}, 'P', DEFAULT)
	</insert>
	
	<!-- 이벤트 승인 대기 취소 -->
	<delete id="cancelEvent" parameterType="Event">
		DELETE FROM PARTY
		WHERE EVENT_NO = #{eventNo}
		AND MEMBER_NO = #{memberNo}
	</delete>
	
	
	<!-- 신고 등록 -->
	<insert id="insertReport" parameterType="Report_E">
		INSERT INTO REPORT
		VALUES (REP_SEQ.NEXTVAL, #{eventNo}, #{memberNo}, #{reportCategory}, #{reportContent}, SYSDATE)
	</insert>
	
	
	<!-- 다음 이벤트글 번호 조회용  -->
	<select id="selectNextNo" resultType="_int">
		SELECT EVE_SEQ.NEXTVAL FROM DUAL
	</select>

	<!-- 이벤트 게시글 등록용 -->
	<insert id="createEvent" parameterType="Event">
		INSERT INTO EVENT VALUES(#{eventNo},#{eventTitle},#{eventContent},
		#{eventCategory},#{eventLocation},#{latitude},#{longtitude},#{eventStart},#{eventEnd},
		#{eventTicket},#{eventThumbnail},#{eventQuota},'Y',#{eventAddress},'N')
	</insert>
	
	<!-- 이벤트 생성 성공시 party테이블에 데이터 추가용  --> 
	<insert id="insertParty" parameterType="Party">
		INSERT INTO PARTY VALUES(#{eventNo},#{memberNo},'S','Y')
	</insert>
	
	<!-- 이벤트 썸네일 이미지 삽입용 -->
	<insert id="insertImage" parameterType="Image">
		INSERT INTO IMAGE VALUES(IMG_SEQ.NEXTVAL,#{eventNo},#{imgOriginalName},#{imgChangeName},
		SYSDATE,'Y','T')
	</insert>
	
	
	<!-- 이벤트 취소에 따른 티켓 회수 -->
	<update id="increaseTicket" parameterType="Event">
		UPDATE MEMBER SET
		MEMBER_TICKET = MEMBER_TICKET + #{eventTicket}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 참가자 티켓 차감 -->
	<update id="decreaseTicket" parameterType="Event">
		UPDATE MEMBER SET
		MEMBER_TICKET = MEMBER_TICKET - #{eventTicket}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	
	
	<!-- 최종 파티 구성원 가져오기 -->
	<select id="selectFinalPartyList" parameterType="_int" resultMap="partyResultSet">
		SELECT * FROM PARTY
		WHERE EVENT_NO = #{eventNo}
		AND (PERMISSION = 'Y' OR PERMISSION = 'N')
	</select>
	
	
	<!-- 주최자 티켓 획득 결제내역 추가 -->
	<insert id="insertPaymentEarn" parameterType="Event">
		INSERT INTO PAYMENT VALUES
		(PAY_SEQ.NEXTVAL, #{memberNo}, #{eventNo}, 'P', #{eventTicket}, SYSDATE, DEFAULT)
	</insert>
	
	
	<!-- 참가자 티켓 사용 결제내역 추가 -->
	<insert id="insertPaymentUse" parameterType="Event">
		INSERT INTO PAYMENT VALUES
		(PAY_SEQ.NEXTVAL, #{memberNo}, #{eventNo}, 'U', #{eventTicket}, SYSDATE, DEFAULT)
	</insert>
	
	<!-- 주최자 이벤트 완료 확인 -->	
	<update id="updateEventConfirm" parameterType="_int">
		UPDATE EVENT SET
		EVENT_CONFIRM = 'Y'
		WHERE EVENT_NO = #{eventNo}
	</update>
	
	
	<!-- 이벤트 전체 후기 수 조회 -->
	<select id="getListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM RATING
		WHERE EVENT_NO = #{eventNo}
		AND RATING_STATUS = 'Y'
	</select>
	
	
	<!-- 이벤트 후기 목록 조회 -->
	<select id="selectRatingList" parameterType="_int" resultMap="ratingResultSet">
		SELECT * FROM RATING
		WHERE EVENT_NO = #{eventNo}
		AND RATING_STATUS = 'Y'
	</select>
	
	
	<!-- 내 후기 조회 -->
	<select id="selectMyRating" parameterType="Party" resultMap="ratingResultSet">
		SELECT * FROM RATING
		WHERE EVENT_NO = #{eventNo}
		AND MEMBER_NO = #{memberNo}
		AND RATING_STATUS = 'Y'
	</select>
	
	
	<!-- 후기 등록 -->
	<insert id="insertRating" parameterType="Rating">
		INSERT INTO RATING VALUES
		(RAT_SEQ.NEXTVAL, #{eventNo}, #{memberNo}, #{ratingContent}, DEFAULT, DEFAULT, #{ratingScore}, DEFAULT)
	</insert>
	

	<!-- 후기 수정 -->
	<update id="updateRating" parameterType="Rating">
		UPDATE RATING SET
		RATING_CONTENT = #{ratingContent},
		RATING_SCORE = #{ratingScore},
		RATING_MODIFY_DT = SYSDATE
		WHERE EVENT_NO = #{eventNo}
		AND MEMBER_NO = #{memberNo}
		AND RATING_STATUS = 'Y'
	</update>
	
	<!-- 후기 삭제 -->
	<update id="deleteRating" parameterType="_int">
		UPDATE RATING SET
		RATING_STATUS = 'N'
		WHERE RATING_NO = #{ratingNo}
	</update>
	
	<!-- 전체 이미지 수 조회 -->
	<select id="getImageListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM V_IMAGE
		WHERE EVENT_NO = #{eventNo}
		AND IMG_STATUS = 'Y'
		AND BOARD_STATUS = 'Y'
	</select>
	
	<!-- 이미지 목록 조회 -->
	<select id="selectImageList" parameterType="_int" resultMap="boardAndImageResultSet">
		SELECT * FROM V_IMAGE
		WHERE EVENT_NO = #{eventNo} 
		AND IMG_STATUS = 'Y'
		AND BOARD_STATUS = 'Y'
		ORDER BY IMG_NO DESC
	</select>
	
	
	<!-- 이미지 수정 -->
	<update id="updateImage" parameterType="BoardAndImage">
		UPDATE IMAGE SET
		IMG_ORIGINAL_NAME = #{imgOriginalName},
		IMG_CHANGE_NAME = #{imgChangeName},
		IMG_ENROLL_DT = SYSDATE
		WHERE IMG_NO = #{imgNo}
	</update>
	
	
	<!-- 이미지에 대한 게시글 수정 -->
	<update id="updateBoard" parameterType="BoardAndImage">
		UPDATE BOARD SET
		BOARD_TITLE = #{boardTitle},
		BOARD_CONTENT = #{boardContent},
		BOARD_MODIFY_DT = SYSDATE
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	
	<!-- 이미지 번호 조회 -->
	<select id="selectImageNo" resultType="_int">
		SELECT IMG_SEQ.NEXTVAL FROM DUAL
	</select>
	
	<!-- 이미지 등록 -->
	<insert id="insertEventImage" parameterType="BoardAndImage">
		INSERT INTO IMAGE VALUES
		(#{imgNo}, #{eventNo}, #{imgOriginalName}, #{imgChangeName}, DEFAULT, DEFAULT, 'R')
	</insert>
	
	
	<!-- 게시글 등록 -->
	<insert id="insertBoard" parameterType="BoardAndImage">
		INSERT INTO BOARD VALUES
		(BNO_SEQ.NEXTVAL, #{boardTitle}, #{boardContent}, DEFAULT, DEFAULT, DEFAULT, #{memberNo}, #{imgNo})
	</insert>
	
	
	<!-- 이미지 삭제 -->
	<update id="deleteImage" parameterType="BoardAndImage">
		UPDATE IMAGE SET
		IMG_STATUS = 'N'
		WHERE IMG_NO = #{imgNo}
	</update>
	
	
	<!-- 게시글 삭제 -->
	<update id="deleteBoard" parameterType="BoardAndImage">
		UPDATE BOARD SET
		BOARD_STATUS = 'N'
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	
	<!-- 주최자인 경우 이벤트 참가 신청 목록 전체 조회 -->
	<select id="selectEventParty" parameterType="_int" resultMap="eventMemberResultSet">
		SELECT MEMBER_NO, MEMBER_NICKNAME, MEMBER_PROFILE, MEMBER_SIGNUP_DATE, PERMISSION
		FROM PARTY
		JOIN MEMBER USING (MEMBER_NO)
		WHERE EVENT_NO = #{eventNo}
		AND MEMBER_STATUS = 'Y'
		AND MEMBER_TYPE = 'P'
		ORDER BY (
            CASE
            WHEN PERMISSION = 'N' THEN 1
            WHEN PERMISSION = 'Y' THEN 2
            ELSE 3
            END
        )
	</select>
	
	
	<!-- 주최자가 회원 승인 -->
	<update id="approveJoinEvent" parameterType="Party">
		UPDATE PARTY SET
		PERMISSION = 'Y'
		WHERE EVENT_NO = #{eventNo}
		AND MEMBER_NO = #{memberNo}
	</update>
	
	
	<!-- 주최자가 회원 거절 -->
	<update id="rejectJoinEvent" parameterType="Event">
		UPDATE PARTY SET
		PERMISSION = 'D'
		WHERE EVENT_NO = #{eventNo}
		AND MEMBER_NO = #{memberNo}
	</update>
	
	
	<!-- 로그인 회원 티켓 수 조회 -->
	<select id="getMemberTicket" parameterType="_int" resultType="_int">
		SELECT MEMBER_TICKET
		FROM MEMBER
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	
	<select id="moveEvent1" parameterType="_int" resultMap="eventResultSet">
	SELECT EVENT.EVENT_NO, EVENT_TITLE, EVENT_CONTENT, EVENT_CATEGORY, 
            EVENT_LOCATION, LATITUDE, LONGITUDE,EVENT_START,EVENT_END, EVENT_TICKET,
            EVENT_THUMBNAIL, EVENT_QUOTA, EVENT_ADDRESS, PARTY.MEMBER_NO, MEMBER_NICKNAME, MEMBER_PROFILE,SCORE, MEMBER_SIGNUP_DATE , PARTY_COUNT, EVENT_CONFIRM
FROM EVENT
JOIN PARTY ON(PARTY.EVENT_NO = EVENT.EVENT_NO)
JOIN MEMBER ON(MEMBER.MEMBER_NO = PARTY.MEMBER_NO)
LEFT JOIN V_SCORE ON(V_SCORE.MEMBER_NO = PARTY.MEMBER_NO)
LEFT JOIN V_MEM_COUNT ON (V_MEM_COUNT.EVENT_NO = EVENT.EVENT_NO)
WHERE MEMBER_TYPE='S' AND MEMBER_STATUS='Y'  AND EVENT_STATUS = 'Y' AND PARTY.MEMBER_NO=#{memberNo}
ORDER BY EVENT_START DESC
	</select>
	
	<select id="moveEvent2" parameterType="map" resultMap="eventResultSet">
	SELECT EVENT.EVENT_NO, EVENT_TITLE, EVENT_CONTENT, EVENT_CATEGORY, 
            EVENT_LOCATION, LATITUDE, LONGITUDE,EVENT_START,EVENT_END, EVENT_TICKET,
            EVENT_THUMBNAIL, EVENT_QUOTA, EVENT_ADDRESS, PARTY.MEMBER_NO, MEMBER_NICKNAME, MEMBER_PROFILE,SCORE, MEMBER_SIGNUP_DATE , PARTY_COUNT, EVENT_CONFIRM
FROM EVENT
JOIN PARTY ON(PARTY.EVENT_NO = EVENT.EVENT_NO)
JOIN MEMBER ON(MEMBER.MEMBER_NO = PARTY.MEMBER_NO)
LEFT JOIN V_SCORE ON(V_SCORE.MEMBER_NO = PARTY.MEMBER_NO)
LEFT JOIN V_MEM_COUNT ON (V_MEM_COUNT.EVENT_NO = EVENT.EVENT_NO)
WHERE MEMBER_TYPE='S' AND MEMBER_STATUS='Y' AND EVENT_NO = #{eventNo} AND EVENT_STATUS = 'Y' 

<if test="flag==3">

<!-- AND EVENT_END > SYSDATE -->
</if>
ORDER BY EVENT_START DESC
	</select>
	<select id="remakeEvent" parameterType="map" resultMap="eventResultSet">
	SELECT EVENT.EVENT_NO, EVENT_TITLE, EVENT_CONTENT, EVENT_CATEGORY, 
            EVENT_LOCATION, LATITUDE, LONGITUDE,EVENT_START,EVENT_END, EVENT_TICKET,
            EVENT_THUMBNAIL, EVENT_QUOTA, EVENT_ADDRESS, PARTY.MEMBER_NO, MEMBER_NICKNAME, MEMBER_PROFILE,SCORE, MEMBER_SIGNUP_DATE , PARTY_COUNT, EVENT_CONFIRM,PERMISSION
FROM EVENT
JOIN PARTY ON(PARTY.EVENT_NO = EVENT.EVENT_NO)
JOIN MEMBER ON(MEMBER.MEMBER_NO = PARTY.MEMBER_NO)
LEFT JOIN V_SCORE ON(V_SCORE.MEMBER_NO = PARTY.MEMBER_NO)
LEFT JOIN V_MEM_COUNT ON (V_MEM_COUNT.EVENT_NO = EVENT.EVENT_NO)
WHERE MEMBER_TYPE='P' AND MEMBER_STATUS='Y' AND EVENT_NO=#{eventNo} AND PARTY.MEMBER_NO=#{memberNo}
	</select>
	
	
	<select id="countEveNo" parameterType="_int" resultType="_int">
	SELECT EVENT_NO 
	FROM PARTY
	WHERE MEMBER_NO = #{memberNo}
	AND MEMBER_TYPE ='P'
	AND PERMISSION = 'Y'
	</select>
	<select id="listEventCount" parameterType="_int" resultType="_int">
	SELECT COUNT(*)
	FROM EVENT
    LEFT JOIN PARTY USING(EVENT_NO)
	WHERE MEMBER_NO = #{memberNo} AND EVENT_STATUS = 'Y' AND MEMBER_TYPE ='S'
	
	</select>
	<select id="listEventCount2" parameterType="map" resultType="_int">
	SELECT COUNT(*)
	FROM EVENT
    LEFT JOIN PARTY USING(EVENT_NO)
	WHERE MEMBER_NO = #{memberNo}
	AND MEMBER_TYPE = 'P'
	<if test="flag == 2">
	AND PERMISSION = 'Y'
	</if>
	<if test="flag == 3">
	
	AND PERMISSION != 'Y'
	<!-- AND EVENT_END >SYSDATE -->
	</if>
	</select>
	
	<select id="countEveNo2" parameterType="_int" resultType="_int">
	SELECT EVENT_NO 
	FROM PARTY
	WHERE MEMBER_NO = #{memberNo}
	AND MEMBER_TYPE ='P'
	AND PERMISSION != 'Y'
	</select>
	<insert id="insertChat" parameterType="Chat">
		INSERT INTO CHAT
		VALUES(#{chatNo},#{eventNo},#{chatContent},DEFAULT)
	</insert>
	
	<select id="selectChat" parameterType="_int" resultMap="chatResultSet">
		SELECT CHAT_NO,CHAT_CONTENT
		FROM CHAT
		WHERE EVENT_NO = #{eventNo}
		AND CHAT_STATUS = 'Y'
		ORDER BY CHAT_NO
	</select>
	
	<select id="selectChatNo" resultType="_int">
		SELECT CHT_SEQ.NEXTVAL
		FROM DUAL
	</select>
	
	<update id="deleteChat">
		UPDATE CHAT SET
		CHAT_STATUS = 'N'
		WHERE CHAT_NO = #{chatNo}
	</update>
	
	<update id="updateEvent" parameterType="Event">
		UPDATE EVENT SET
		<if test="eventThumbnail != null">
			EVENT_TITLE = #{eventTitle},
			EVENT_CONTENT = #{eventContent},
			EVENT_CATEGORY = #{eventCategory},
			EVENT_LOCATION = #{eventLocation},
			EVENT_ADDRESS = #{eventAddress},
			EVENT_THUMBNAIL = #{eventThumbnail},
			LATITUDE = #{latitude},
			LONGITUDE = #{longtitude}
		</if>
		<if test="eventThumbnail == null">
			EVENT_TITLE = #{eventTitle},
			EVENT_CONTENT = #{eventContent},
			EVENT_CATEGORY = #{eventCategory},
			EVENT_LOCATION = #{eventLocation},
			EVENT_ADDRESS = #{eventAddress},
			LATITUDE = #{latitude},
			LONGITUDE = #{longtitude}
		</if>
		WHERE EVENT_NO = #{eventNo}
	</update>
	
	<select id="selectThumb" parameterType="_int" resultType="String">
		SELECT EVENT_THUMBNAIL
		FROM EVENT
		WHERE EVENT_NO = #{eventNo} 
	</select>
</mapper>
