<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eventMapper">
	
	
	<resultMap type="Event" id="eventResultSet">
		<id property="eventNo" column="EVENT_NO"/>
		<result property="eventTitle" column="EVENT_TITLE"/>
		<result property="eventContent" column="EVENT_CONTENT"/>
		<result property="eventCategory" column="EVENT_CATEGORY"/>
		<result property="eventLocation" column="EVENT_LOCATION"/>
		<result property="latitude" column="LATITUDE"/>
		<result property="longtitude" column="LONGITUDE"/>
		<result property="eventStart" column="EVENT_START"/>
		<result property="eventEnd" column="EVENT_END"/>
		<result property="eventTicket" column="EVENT_TICKET"/>
		<result property="eventThumbnail" column="EVENT_THUMBNAIL"/>
		<result property="eventQuota" column="EVENT_QUOTA"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="memberProfile" column="MEMBER_PROFILE"/>
		<result property="memberRating" column="MEMBER_RATING"/>
		<result property="memberSignupDate" column="MEMBER_SIGNUP_DATE"/>
		<result property="partyCount" column="PARTY_COUNT"/>
	</resultMap>
	
	
	<resultMap type="Member" id="memberResultSet">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberGender" column="MEMBER_GENDER"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberBirth" column="MEMBER_BIRTH"/>
		<result property="memberIntroduce" column="MEMBER_INTRODUCE"/>
		<result property="memberPlace" column="MEMBER_PLACE"/>
		<result property="memberCategory" column="MEMBER_CATEGORY"/>
		<result property="memberProfile" column="MEMBER_PROFILE"/>
		<result property="memberSignupDate" column="MEMBER_SIGNUP_DATE"/>
		<result property="memberGrade" column="MEMBER_GRADE"/>
		<result property="memberTicket" column="MEMBER_TICKET"/>
		<result property="memberAccount" column="MEMBER_ACCOUNT"/>
		<result property="memberIdSort" column="MEMBER_ID_SORT"/>
		<result property="memberStatus" column="MEMBER_STATUS"/>
		<result property="memberRating" column="MEMBER_RATING"/>
	</resultMap>
	
	
	

	<select id="selectEvent" parameterType="_int" resultMap="eventResultSet">
		SELECT * FROM V_EVENT
		WHERE EVENT_NO = #{eventNo}
	</select>
	
	
	<select id="selectPartyList" parameterType="_int" resultMap="memberResultSet">
		SELECT MEMBER_NO, MEMBER_NICKNAME, MEMBER_PROFILE, MEMBER_SIGNUP_DATE
		FROM PARTY
		JOIN MEMBER USING (MEMBER_NO)
		WHERE EVENT_NO = #{eventNo}
		AND PERMISSION = 'Y'
		AND MEMBER_STATUS = 'Y'
		AND MEMBER_TYPE = 'P'
	</select>

	<select id="adminEventCount" parameterType="map" resultType="_int">
		SELECT COUNT(*) FROM V_EVENT_A
		<where>
			<if test="searchValue != null">
				<bind name="sv" value="'%' + _parameter.searchValue + '%'" />
				<choose>
					<when test="searchKey == 'sponsor'">
						AND EVENT_CATEGORY LIKE #{sv}
					</when>
					<otherwise>
						AND EVENT_TITLE LIKE #{sv}
					</otherwise>
				</choose>
			</if>
		</where>
	</select>
	
	<select id="adminSelectEvent" parameterType="map" resultMap="eventResultSet">
		SELECT * FROM V_EVENT_A
		<where>
			<if test="searchValue != null">
				<bind name="sv" value="'%' + _parameter.searchValue + '%'" />
				<choose>
					<when test="searchKey == 'sponsor'">
						AND EVENT_CATEGORY LIKE #{sv}
					</when>
					<otherwise>
						AND EVENT_TITLE LIKE #{sv}
					</otherwise>
				</choose>
			</if>
		</where>
	</select>



</mapper>
