<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="paymentMapper">
	<resultMap type="Payment" id="paymentResultSet">
		<id property="paymentNo" column="PAYMENT_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="eventNo" column="EVENT_NO"/>
		<result property="paymentType" column="PAYMENT_TYPE"/>
		<result property="paymentTicket" column="PAYMENT_TICKET"/>
		<result property="paymentDate" column="PAYMENT_DATE"/>
	</resultMap>
	<resultMap type="Ticket" id="ticketResultSet">
		<id property="paymentNo" column="PAYMENT_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="eventName" column="EVENT_TITLE"/>
		<result property="paymentType" column="PAYMENT_TYPE"/>
		<result property="paymentTicket" column="PAYMENT_TICKET"/>
		<result property="paymentDate" column="PAYMENT_DATE"/>
	
	</resultMap>
	<insert id="insertPayment" parameterType="map">
		INSERT INTO PAYMENT
		VALUES(PAY_SEQ.NEXTVAL, #{memberNo}, 
		<if test="eventNo != null">
			#{eventNo},
		</if>
		<if test="eventNo == null">
			null,
		</if>
			#{paymentType}, #{ticket}, SYSDATE
		)
		
	</insert>
	
	<select id="ticketLog" parameterType="Ticket" resultMap="ticketResultSet">
	
	SELECT PAYMENT_NO,MEMBER_NO, EVENT_TITLE,PAYMENT_TYPE,PAYMENT_TICKET, PAYMENT_DATE FROM PAYMENT
	JOIN EVENT USING (EVENT_NO)
    WHERE MEMBER_NO = #{memberNo} AND PAYMENT_TYPE = #{paymentType}
	ORDER BY PAYMENT_DATE
	</select>
	
	<select id="getListCount" parameterType="Ticket" resultType="_int">
	SELECT COUNT(*)
	FROM PAYMENT
	WHERE MEMBER_NO = #{memberNo} AND PAYMENT_TYPE = #{paymentType}
	
	
	</select>
	
	
</mapper>
