<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="searchMapper">
	
	<resultMap type="Search" id="searchResultSet">
		<id property="eventNo" column="EVENT_NO"/>
		<result property="eventTitle" column="EVENT_TITLE"/>
		<result property="eventContent" column="EVENT_CONTENT"/>
		<result property="eventCategory" column="EVENT_CATEGORY"/>
		<result property="eventLocation" column="EVENT_LOCATION"/>
		<result property="latitude" column="LATITUDE"/>
		<result property="longitude" column="LONGITUDE"/>
		<result property="eventStart" column="EVENT_START"/>
		<result property="eventEnd" column="EVENT_END"/>
		<result property="eventTicket" column="EVENT_TICKET"/>
		<result property="eventThumbnail" column="EVENT_THUMBNAIL"/>
		<result property="eventQuota" column="EVENT_QUOTA"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberProfile" column="MEMBER_PROFILE"/>
		<result property="eventScore" column="SCORE"/>
	</resultMap>
	
	<!-- 탐색페이지 이벤트 수 조회 -->
	<select id="getSearchCount" parameterType="map" resultType="_int">
		SELECT COUNT(*) FROM V_SEARCH
		<where>
			<if test="searchKey != null">
				<bind name="sv" value="'%' + _parameter.searchValue + '%'"/>
				AND EVENT_CATEGORY LIKE #{searchKey}
			</if>
			<if test="searchValue != null">
				AND EVENT_TITLE LIKE #{sv}
			</if>
			AND EVENT_STATUS ='Y'
		</where>
	</select>
	
	<!-- 탐색페이지 이벤트 조회 -->
	<select id="selectList" parameterType="map" resultMap="searchResultSet">
		SELECT * FROM V_SEARCH
		<where>
			<if test="searchKey != null">
				AND EVENT_CATEGORY = #{searchKey}
			</if>
			<if test="searchValue != null">
				<bind name="sv" value="'%' + _parameter.searchValue + '%'"/>
				AND EVENT_TITLE LIKE #{sv}
			</if>
			AND EVENT_STATUS ='Y'
		</where>
		ORDER BY EVENT_NO
	</select>
	
	<!-- 탐색페이지 이벤트 조회 -->
	<select id="selectListCheck" parameterType="map" resultMap="searchResultSet">
		SELECT * FROM V_SEARCH
		<where>
			<if test="searchKey != null">
				AND EVENT_CATEGORY = #{searchKey}
			</if>
			<if test="searchValue != null">
				<bind name="sv" value="'%' + _parameter.searchValue + '%'"/>
				AND EVENT_TITLE LIKE #{sv}
			</if>
			AND EVENT_STATUS ='Y'
			AND EVENT_END > SYSDATE
		</where>
		ORDER BY EVENT_NO
	</select>
	 
	<select id="cListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM V_EVENT
		WHERE MEMBER_NO = #{memberNo}
		AND MEMBER_TYPE = 'S'
		AND EVENT_STATUS = 'Y'
	</select>
	
	<select id="jListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM V_EVENT
		WHERE MEMBER_NO = #{memberNo}
		AND MEMBER_TYPE = 'P'
		AND EVENT_STATUS = 'Y'
	</select>
	
	<select id="selectCreateEvent" parameterType="_int" resultType="searchResultSet">
		SELECT * FROM V_EVENT
		WHERE MEMBER_NO = #{memberNo}
		AND MEMBER_TYPE = 'S'
		AND EVENT_STATUS = 'Y'
	</select>
</mapper>
