.nav-tabs{
  width:100%;
}
html body .search-btn{
  min-width: 60px;
  margin-left: -10px;
  padding: 0;
  height: 38px;
  border-radius: 5px;
}
.pagination-wrap{
  margin-top : 30px;
}
#list-table tr:hover{
  cursor: pointer;
}
.boardWrap{
  margin-top :50px;
  text-align: center;
}
p.board-title-td{
  margin-bottom:0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
@media (max-width: 991px){
  .admin-table-td{
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }
}
@media (max-width: 767px){
  p.board-title-td{
    width: 230px;
  }
}
@media (max-width: 575px) {
  .inputSection{
    margin-top:10px;
  }
  html body .search-btn{
    margin : 0;
  }
  .input-group-append{
    float: right;
  }
  @media (max-width: 534px){
    p.board-title-td{
      width:95px;
    }
  }
}
