/* 내역 */
.ticket-wrap{
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
}
.ticket-wrap .have-ticket{
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0 50px 0;
}
.ticket-wrap .have-ticket span{
  color: #227fbb;
}
.ticket-wrap #ticket-sort{
  width: 25%;
  height: 35px;
  margin-bottom: 30px;
}
.ticket-wrap .ticket-table{
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.ticket-wrap .ticket-table .ticket-sort{
  width: 10%;
}
.ticket-wrap .ticket-table .ticket-date{
  width: 20%;
}
.ticket-wrap .ticket-table .ticket-amount{
  width: 15%;
}
.ticket-wrap .ticket-table .ticket-name{
  width: 35%;
}

/* 충전 */
.recharge-wrap .recharge-title{
  font-weight: bold;
  font-size: 20px;
}
.recharge-wrap .recharge-box{
  text-align: center;
}
.recharge-wrap input[type=radio]{
  display: none;
}
.recharge-wrap input[type=radio]:checked+label{
  background-color:#00a185;
  color: #ffffff;
}
.recharge-wrap label{
  cursor: pointer;
  width: 25%;
  background-color: #cdd2d8;
  color: #333333;
  border-radius: 5px;
  height: 60px;
  line-height: 60px;
  font-size: 17px;
  transition: all 0.3s;
  text-align: center;
  margin: 15px 2%;
  min-width: 80px;
}
.recharge-wrap .recharge-way{
  margin-top: 50px;
}
.recharge-form button[type=submit]{
  display: block;
  margin: 100px auto 50px auto;
  width: 25%;
  background-color: #227fbb;
  color: #ffffff;
  border-radius: 5px;
  height: 60px;
  line-height: 60px;
  font-size: 17px;
  min-width: 80px;
}

/* 환급 */
.refund-wrap .notify-wrap{
  margin-bottom: 50px;
}
.refund-wrap .notify-wrap .notify-title{
  color: rgb(200, 35, 51);
  font-size: 20px;
  font-weight: bold;
}
.refund-wrap .notify-wrap .notify-content{
  font-size: 17px;
  line-height: 28px;
}
.refund-wrap .refund-con-wrap{
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  height: 250px;
}
.refund-wrap .title{
  font-size: 20px;
  font-weight: bold;
}
.refund-wrap .refund-con-wrap > .con{
  width: 80%;
  display: block;
  text-align: center;
  background-color: #00a185;
  line-height: 100px;
  color: #ffffff;
  border-radius: .25rem;
  font-size: 30px;
}
.refund-wrap .refund-form{
  vertical-align: middle;
  height: 250px;
  display: inline-block;
  width: 45%;
}
.refund-wrap .refund-form .refund-status{
  margin-top:10px;
}
.refund-wrap .refund-form:after{
  content:"";
  display: block;
  clear:both;
}
.refund-wrap .refund-form .account-info{
  font-size: 18px;
}
.refund-wrap .refund-form .refundTicket{
  width: 100%;
  height: 40px;
  padding: 10px;
}
.refund-wrap .refund-form .refund-submit-btn{
  margin:0;
  padding: 7px 15px;
  float: right;
}
@media (max-width:767px){
  .recharge-wrap label{
    font-size:15px;
  }
  .refund-wrap .refund-con-wrap, .refund-wrap .refund-form{
    width: 100%;
  }
}
